<div class="container py-24 bg-gray-200 mx-auto w-full h-full">
  <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
    <h1
      class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1"
    >
      THE COLLABORATIVE PROCESS
    </h1>
    <p class="lg:w-1/2 w-full leading-relaxed text-base">
      We believe collaboration is key in anything creative, your design and
      ideas direct the development, here's a snapshot of the process included in
      any new initial consultation.
    </p>
  </div>
  <div class="relative wrap overflow-hidden h-full">
    <!-- right timeline -->
    <div class="mb-8 flex justify-between items-center w-full right-timeline">
      <div class="order-1 w-5/12"></div>
      <div
        class="z-20 flex items-center order-1 shadow-xl w-8 h-8 rounded-full"
      >
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="chevron-down"
          class="svg-inline--fa fa-chevron-down"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
        >
          <path
            fill="currentColor"
            d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z"
          ></path>
        </svg>
      </div>
      <div
        class="order-1 bg-primary-500 rounded-lg shadow-xl w-5/12 px-6 py-4 dark:bg-primary-800"
      >
        <h3 class="mb-3 font-bold text-gray-800 text-xl">Lorem Ipsum</h3>
        <p
          class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100"
        >
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </div>
    </div>

    <!-- left timeline -->
    <div
      class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline"
    >
      <div class="order-1 w-5/12"></div>
      <div
        class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-8 h-8 rounded-full"
      >
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="chevron-down"
          class="svg-inline--fa fa-chevron-down"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
        >
          <path
            fill="currentColor"
            d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z"
          ></path>
        </svg>
      </div>
      <div
        class="order-1 bg-primary-500 rounded-lg shadow-xl w-5/12 px-6 py-4 dark:bg-primary-800"
      >
        <h3 class="mb-3 font-bold text-white text-xl">Lorem Ipsum</h3>
        <p
          class="text-sm font-medium leading-snug tracking-wide text-white text-opacity-100"
        >
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </div>
    </div>

    <!-- right timeline -->
    <div class="mb-8 flex justify-between items-center w-full right-timeline">
      <div class="order-1 w-5/12"></div>
      <div
        class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-8 h-8 rounded-full"
      >
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="chevron-down"
          class="svg-inline--fa fa-chevron-down"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
        >
          <path
            fill="currentColor"
            d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z"
          ></path>
        </svg>
      </div>
      <div
        class="order-1 bg-primary-500 rounded-lg shadow-xl w-5/12 px-6 py-4 dark:bg-primary-800"
      >
        <h3 class="mb-3 font-bold text-gray-800 text-xl">Lorem Ipsum</h3>
        <p
          class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100"
        >
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </div>
    </div>

    <!-- left timeline -->
    <div
      class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline"
    >
      <div class="order-1 w-5/12"></div>
      <div
        class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-8 h-8 rounded-full"
      >
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="chevron-down"
          class="svg-inline--fa fa-chevron-down"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
        >
          <path
            fill="currentColor"
            d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z"
          ></path>
        </svg>
      </div>
      <div
        class="order-1 bg-primary-500 rounded-lg shadow-xl w-5/12 px-6 py-4 dark:bg-primary-800"
      >
        <h3 class="mb-3 font-bold text-white text-xl">Lorem Ipsum</h3>
        <p
          class="text-sm font-medium leading-snug tracking-wide text-white text-opacity-100"
        >
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </div>
    </div>
  </div>
</div>
