/* #contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact input[type="selection"],
#contact textarea {
  width: 80%;
  color: #000;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}
#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}
#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}
#contact label {
  width: 20%;
} */
