<section id="hero" class="text-gray-700 body-font">
  {{- partial "frontpage/hero.html" . -}}
</section>
<section id="about-us" class="text-gray-700 body-font border-t border-gray-200">
  {{- partial "frontpage/about-us.html" . -}}
</section>
<section id="info" class="text-gray-700 body-font border-t border-gray-200">
  {{- partial "frontpage/info.html" . -}}
</section>

<section id="timeline" class="text-gray-700 body-font border-t border-gray-200">
  {{- partial "frontpage/timeline.html" . -}}
</section>
<section
  id="faq"
  class="text-gray-700 body-font border-t border-b border-gray-200"
>
  {{- partial "frontpage/faq.html" . -}}
</section>
