<section id="pricing-table">
<div class="pricing-table-2 bg-gray-800 py-6 md:py-12">
  <div class="container mx-auto px-4">
    <div class="max-w-3xl mx-auto text-center">
      <h1 class="text-3xl md:text-4xl font-medium text-white mb-4 md:mb-6">
        Our Pricing Plans
      </h1>
      <p class="text-gray-500 xl:mx-12">
        We specialize in small business web design and development for clients
        anywhere in Australia. Every line of code is written by hand to ensure
        the best performance, which helps bring in more customers to your site
        and bring more revenue to your business. These custom HTML sites perform
        better than equivalent complex Content Management Systems (CMS). This
        ensures your customers view your website milliseconds after opening the
        page up. This type of website is perfect for a business that requires an
        online prescense, without the need for updating content frequently.
      </p>
    </div>

    <div class="pricing-plans lg:flex lg:-mx-4 mt-6 md:mt-12">
      <div class="pricing-plan-wrap lg:w-1/2 my-4 md:my-6">
        <div
          class="pricing-plan border-4 border-solid border-white bg-white text-center max-w-sm mx-auto hover:border-indigo-600 transition-colors duration-300"
        >
          <div class="p-6 md:py-8">
            <h4 class="font-medium leading-tight text-2xl mb-2">STARTER</h4>
          </div>
          <div
            class="pricing-amount bg-indigo-100 p-6 transition-colors duration-300"
          >
            <div class="">
              <span class="text-4xl font-semibold">$55</span> /month
            </div>
          </div>
          <div class="p-6">
            <ul class="leading-loose">
              <li>Max 3 pages</li>
              <li>All inclusive hosting</li>
              <li>Domain registation</li>
              <li>1 email account</li>
              <li>5 edits per month</li>
              <li>Email support</li>
            </ul>
            <div class="mt-6 py-4">
              <a
                class="px-4 py-2 !text-neutral !no-underline !rounded-md bg-primary-600 hover:!bg-primary-500 dark:bg-primary-800 dark:hover:!bg-primary-700"
                role="button"
                href="#get-started"
              >
                Get started
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="pricing-plan-wrap lg:w-1/2 my-4 md:my-6">
        <div
          class="pricing-plan border-4 border-solid border-white bg-white text-center max-w-sm mx-auto hover:border-indigo-600 transition-colors duration-300"
        >
          <div class="p-6 md:py-8">
            <h4 class="font-medium leading-tight text-2xl mb-2">PREMIUM</h4>
          </div>
          <div
            class="pricing-amount bg-indigo-100 p-6 transition-colors duration-300"
          >
            <div><span class="text-4xl font-semibold">$109</span> /month</div>
          </div>
          <div class="p-6">
            <ul class="leading-loose">
              <li>Max 10 Pages</li>
              <li>All inclusive hosting</li>
              <li>Domain registation</li>
              <li>5 email accounts</li>
              <li>Unlimited edits per month</li>
              <li>24/7 Customer support</li>
            </ul>
            <div class="mt-6 py-4">
              <a
                class="px-4 py-2 !text-neutral !no-underline !rounded-md bg-primary-600 hover:!bg-primary-500 dark:bg-primary-800 dark:hover:!bg-primary-700"
                role="button"
                href="#get-started"
              >
                Get started
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=""></br></div>
  <div class="max-w-3xl mx-auto text-center">
    <h1 class="text-3xl md:text-4xl font-medium text-white mb-4 md:mb-6">
      Need something extra to our pre-built plans?
    </h1>
    <p class="text-gray-500 xl:mx-12">
      We can tailor build a plan for you, that covers each of your needs. Get
      started below.
    </p>
  </div>
</div>
</section>
  <section id="get-started">
        <form
  id="contact"
  name="embrcollab-com-custom-contact-form"
  method="POST"
  data-netlify="true"
  netlify-honeypot="bot-field"
  class="w-full"
>
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
      <label
        class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
        for="grid-first-name"
      >
        Name
      </label>
      <input
        class="appearance-none block w-full text-neutral-900 placeholder-neutral-500 bg-neutral-300 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-neutral-200 invalid:border-secondary-700 invalid:text-secondary-700 focus:invalid:border-secondary-700 focus:invalid:ring-secondary-700"
        id="grid-first-name"
        name="name"
        type="text"
        placeholder="Jane Doe"
        tabindex="1"
        required
        autofocus
      />
    </div>
    <div class="w-full md:w-1/3 px-3">
      <label
        class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
        for="grid-last-name"
      >
        Phone
      </label>
      <input
        class="appearance-none block w-full text-neutral-900 placeholder-neutral-500 bg-neutral-300 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-neutral-200 invalid:border-secondary-700 invalid:text-secondary-700 focus:invalid:border-secondary-700 focus:invalid:ring-secondary-700"
        id="grid-phone"
        name="phone"
        type="tel"
        placeholder="0412 345 678"
        tabindex="2"
        required
        autofocus
      />
    </div>
    <div class="w-full md:w-1/3 px-3">
      <label
        class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
        for="grid-password"
      >
        Email Address
      </label>
      <input
        class="appearance-none block w-full text-neutral-900 placeholder-neutral-500 bg-neutral-300 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-neutral-200 invalid:border-secondary-700 invalid:text-secondary-700 focus:invalid:border-secondary-700 focus:invalid:ring-secondary-700"
        id="grid-email"
        name="email"
        type="email"
        placeholder="Jane.Doe@example.com"
        tabindex="3"
        required
        autofocus
      />
    </div>
  </div>
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
      <label
        class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
        for="grid-first-name"
      >
        Name
      </label>
      <input
        class="appearance-none block w-full text-neutral-900 placeholder-neutral-500 bg-neutral-300 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-neutral-200 invalid:border-secondary-700 invalid:text-secondary-700 focus:invalid:border-secondary-700 focus:invalid:ring-secondary-700"
        id="grid-first-name"
        name="name"
        type="text"
        placeholder="Jane Doe"
        tabindex="1"
        required
        autofocus
      />
    </div>
    <div class="w-full md:w-1/3 px-3">
      <label
        class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
        for="grid-last-name"
      >
        Phone
      </label>
      <input
        class="appearance-none block w-full text-neutral-900 placeholder-neutral-500 bg-neutral-300 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-neutral-200 invalid:border-secondary-700 invalid:text-secondary-700 focus:invalid:border-secondary-700 focus:invalid:ring-secondary-700"
        id="grid-phone"
        name="phone"
        type="tel"
        placeholder="0412 345 678"
        tabindex="2"
        required
        autofocus
      />
    </div>
    <div class="w-full md:w-1/3 px-3">
      <label
        class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
        for="grid-password"
      >
        Email Address
      </label>
      <input
        class="appearance-none block w-full text-neutral-900 placeholder-neutral-500 bg-neutral-300 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-neutral-200 invalid:border-secondary-700 invalid:text-secondary-700 focus:invalid:border-secondary-700 focus:invalid:ring-secondary-700"
        id="grid-email"
        name="email"
        type="email"
        placeholder="Jane.Doe@example.com"
        tabindex="3"
        required
        autofocus
      />
    </div>
  </div>
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <label
        class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
        for="grid-subject"
      >
        Subject
      </label>
      <input
        class="appearance-none block w-full text-neutral-900 placeholder-neutral-500 bg-neutral-300 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-neutral-200 invalid:border-secondary-700 invalid:text-secondary-700 focus:invalid:border-secondary-700 focus:invalid:ring-secondary-700"
        id="grid-subject"
        name="subject"
        type="text"
        placeholder="Hello!"
        tabindex="4"
        required
        autofocus
      />
    </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <label
        class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
        for="grid-password"
      >
        Your Message
      </label>
      <textarea
        rows="6"
        name="message"
        class="appearance-none block w-full text-neutral-900 placeholder-neutral-500 bg-neutral-300 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-neutral-200 invalid:border-secondary-700 invalid:text-secondary-700 focus:invalid:border-secondary-700 focus:invalid:ring-secondary-700"
        tabindex="5"
        required
        autofocus
      >
      </textarea>
    </div>
    <div class="flex justify-between w-full px-3">
      <button
        class="px-4 py-2 !text-neutral !no-underline !rounded-md bg-primary-600 hover:!bg-primary-500 dark:bg-primary-800 dark:hover:!bg-primary-700"
        type="submit"
        id="submit"
        href="#"
      >
        Submit
      </button>
    </div>
  </div>
</form>


</section>
